<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notes">

    <!-- 通知權限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- 精準鬧鐘權限（避免 AlarmManager crash） -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:label="提醒事項"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Notes">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <receiver
            android:name=".AlarmReceiver"
            android:exported="true"/>
    </application>
</manifest>
